* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

.app-container {
  background-color: #9ba9eb;
  background-size: cover;
  height: 100vh;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.app-logo {
  width: 90px;
  height: 50px;
}

.app-card-container {
  background-color: #5763a5;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-top: 16px;
}

.form-container {
  background-color: #454f84;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  width: 45%;
}

.form-heading {
  color: #f8fafc;
  font-size: 20px;
}

.img-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.website-logo {
  border-right: 1px solid #b6c3ca;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  padding: 4px;
}

.input-element {
  height: 30px;
  padding: 4px;
  color: #64748b;
  font-weight: 600;
  width: 60%;
  outline: none;
}

.add-btn {
  background-color: #0b69ff;
  height: 30px;
  padding: 6px;
  border-width: 0px;
  border-radius: 5px;
  width: 50px;
  color: #ffffff;
  align-self: flex-end;
}

.manager-img {
  width: 35%;
  height: 220px;
}

.password-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.password-count-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-input {
  display: flex;
  flex-direction: row;
}

.password-count {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.count {
  background-color: transparent;
  border: 1px solid #7683cb;
  border-radius: 4px;
  color: #ffffff;
  margin: 8px;
  height: 20px;
  width: 28px;
  text-align: center;
  font-size: 10px;
  padding-top: 3px;
}

.line {
  background-color: #b6c3ca;
  height: 2px;
  width: 100%;
}

.bottom-container {
  background-color: #5763a5;
  border-radius: 5px;
  margin-top: 10px;
  width: 80%;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
}

.un-order-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.show-password-container {
  display: flex;
  align-self: flex-end;
}

.label-element {
  color: #ffffff;
  font-size: 15px;
}
